<h3>Top 5 Customers</h3>

<div id="top-5-customers">
<ol>
  <% Customer.top_5_customers.each do |customer| %>
    <li>Name: <%= customer.first_name %> <%= customer.last_name %>
      Total Successful Transactions: <%= customer.successful_transactions %></li>
  <% end %>
</ol>
</div>

<h3>Incomplete Invoices</h3>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="incomplete-invoices">
    <% @invoices.incomplete_invoices.each do |invoice| %>
      <tr>
        <th><%= link_to "Invoice ##{invoice.id}", admin_invoice_path(invoice) %></th>
        <th><%= format_date(invoice.created_at) %></th>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render 'shared/pagy_buttons' %>