<h1> Welcome to your dashboard, <%= current_user.name %> </h1>

<h3>What would you like to do today?</h3>

<div class="container">
  <%= button_to "View Merchant Dashboard", merchant_dasboard_path, class: "btn btn-primary" %>
  <%= button_to "View Merchant Invoices", merchant_invoices_path, class: "btn btn-primary" %>
  <%= button_to "View Merchant Items", merchant_items_path, class: "btn btn-primary" %>
  <%= button_to "View Merchant Discounts", merchant_discounts_path, class: "btn btn-primary" %>
</div>