<%= form_with method: :post, local: true do |form| %>
  <%= form.label :username, 'Username:' %>
  <%= form.text_field :username %>

  <%= form.label :password, 'Password:' %>
  <%= form.text_field :password %>
  
  <%= form.submit 'Log In' %>
<% end %>

<div><%= link_to "Click here to Create a New Account", new_user_path %></div>