<%= form_with(model: [:merchant, @discount], local: true) do |form| %>
  <% if @discount.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discount.errors.count, "error") %> prohibited this discount from being saved:</h2>

      <ul>
      <% @discount.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.label :percent %>
    <%= form.text_field :percent %>

    <%= form.label "quantity_threshold" %>
    <%= form.text_field :qty_threshold %>

    <%= form.label :holiday_date %>
    <%= form.date_field :holiday_date, min: Date.today %>

    <%= form.submit 'Submit' %>
<% end %>

<% content_for :nav_brand do %>
  <a class="navbar-brand" href="/api/v1">Merchant Discount</a>
<% end %>

<% content_for :nav_links do %>
  <li class="nav-item">
    <a class="nav-link" href="/merchants/<%= @merchant.id %>/dashboard">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/merchants/<%= @merchant.id %>/invoices">Invoices</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/merchants/<%= @merchant.id %>/items">Items</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/merchants/<%= @merchant.id %>/discounts">Discounts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/api/v1">API</a>
  </li>
<% end %>