<!DOCTYPE html>
<html>
  <head>
    <title>Little Etsy Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
      nav { opacity: 1.0 }
      footer { opacity: 1.0 }
    </style>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <div class="container">

    <% if has_flash_message? %>
      <div class="alert alert-<%= check_flash_message.to_s %> alert-dismissible fade show" role="alert">
        <%= flash_message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

      <br>

      <%= yield %>
    </div>

    <br>
    <br>

    <%= render 'shared/footer' %>
  </body>
</html>
